body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 16rem;
  border: 1px solid black;
  padding: 3rem;
}
.input-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
input[type="text"] {
  width: 10rem;
}
